<!doctype html>
<html>
  <head>
    <title>Websocket example</title>
  <script>
  function rotate(start){
    console.log(start);
    return (start);
  }
  </script>
  <style>
    .grid {
      display: grid;
      grid: repeat({{ height }}, 12vw) / auto-flow;
    }
    
    .row {
      display: grid;
      grid: repeat(1, 12vw) / auto-flow;
    }
    
    .row > .cell {
      margin: 10px;
      background: rgb(252, 245, 244);
      margin: 1px;
    }

    .brush {
      display: table-cell;
    }
    
    @media (orientation: portrait) {
      
      .container {
        transform: rotate(90deg) translate(35%);
      }
        
      .row > .square {
        transform: rotate(-90deg);
      }
    }
  </style>
  </head>
  <body>
    <input type="text" id="message">
    <button>Send</button>
    <ul></ul>
    <script type="text/javascript">
      const reader = new FileReader();
      reader.addEventListener('loadend', (e) => {
        const text = e.srcElement.result;
        console.log(text);
      });
      var ws = new WebSocket('ws://' + document.domain + ':' + location.port + '/ws');
      //var ws = new WebSocket('ws://' + document.domain + ':' + location.port + '/api/v2/ws');
      ws.onmessage = function (event) {
        console.log("Incoming ws: " + event.data);
        var incoming = JSON.parse(event.data);
        if (incoming.Type == "Chat"){ // handle chat messages
          var messages_dom = document.getElementsByTagName('ul')[0];
          var message_dom = document.createElement('li');
          var content_dom = document.createTextNode('Received: ' + incoming.Data);
          message_dom.appendChild(content_dom);
          messages_dom.appendChild(message_dom);
        }
        if (incoming.Type == "Pixel"){ // handle incoming pixel changes
          var cells = document.getElementsByClassName("cell");
          console.log("Trying to change a pixel; incoming.Data looks like " + incoming.Data);
          // Data looks like "[1, 2, 255, 0, 0]" for "[x, y, r, g, b]"
          var targetx = incoming.Data[0];
          var targety = incoming.Data[1];
          var targetr = incoming.Data[2];
          var targetg = incoming.Data[3];
          var targetb = incoming.Data[4];
          var targetcolor = "rgb(" + targetr + ', ' + targetg + ', ' + targetb + ")" // e.g. "rgb(255, 0, 0)"
          console.log("X is "+targetx+", Y is "+targety+", and color = "+targetcolor)
          for (i = 0; i < cells.length; i++) {
            // console.log("i is " + i + ", and incoming.Data[0] is " + incoming.Data[0] + " and cells[i].dataset.x is " + cells[i].dataset.x)
            if (targetx == cells[i].dataset.x && targety == cells[i].dataset.y) {
              cells[i].style.backgroundColor = targetcolor;
            }
          }
        }
        if (incoming.Type == "System") { //handles system messages
          console.log("Received system message: " + incoming.Data);
        }
      };

      var button = document.getElementsByTagName('button')[0];
      button.onclick = function() {
        var content = document.getElementsByTagName('input')[0].value;
        ws.send('{"Type":"Chat","Data":"' + content + '"}');
      };
      function clickCell(cell) { // change a cell's color when clicked
        var r = document.getElementById('redBox').value
        var g = document.getElementById('greenBox').value
        var b = document.getElementById('blueBox').value
        var color = r+", "+g+", "+b
        // cell.style.backgroundColor = color; // change cell color on page
        console.log("Setting cell " + cell.dataset.x + ", " + cell.dataset.y + " to " + color); // log change to console
        ws.send('{"Type":"Pixel","Data":[' + cell.dataset.x + ', ' + cell.dataset.y + ', ' + r+', '+g+', '+b + ']}') // ws message back to server to change cell in device
        return;
      }
      function brushClick(brush) { // change the brush color when clicked
        brushes = document.getElementsByClassName("brush");
        for (var i = 0; i < brushes.length; i++) {
          // console.log("Current brushes["+i+"].dataset.active == " + brushes[i].dataset.active);
          brushes[i].dataset.active = "False";
        }
        brush.dataset.active = "True";
        console.log("The " + brush.style.backgroundColor + " brush is now active")
        colorBlob = brush.style.backgroundColor.split('(')[1].split(')')[0].split(',') // like [255, 0, 0]
        document.getElementById("redBox").value = colorBlob[0]
        document.getElementById("greenBox").value = colorBlob[1]
        document.getElementById("blueBox").value = colorBlob[2]
      }
      console.log("Asking for initial board setup");
      ws.onopen = function (event) {
        ws.send('{"Type":"Update"}'); // ws message back to server to get initial state of board    
      }
    </script>
    <div style="display: table;">
      <div style="display: table-row; height: 60px;">
        <div class="brush" name="brush" data-active="False" id="whitebrush" style="background-color:rgb(255,255,255);" onclick="brushClick(this)">White</div>
        <div class="brush" name="brush" data-active="True"  id="redbrush" style="background-color:rgb(255,0,0);" onclick="brushClick(this)">Red</div>
        <div class="brush" name="brush" data-active="False" id="yellowbrush" style="background-color:rgb(255,255,0);" onclick="brushClick(this)">Yellow</div>
        <div class="brush" name="brush" data-active="False" id="greenbrush" style="background-color:rgb(0,255,0);" onclick="brushClick(this)">Green</div>
        <div class="brush" name="brush" data-active="False" id="lybluebrush" style="background-color:rgb(0,255,255);" onclick="brushClick(this)">LtBlue</div>
        <div class="brush" name="brush" data-active="False" id="bluebrush" style="background-color:rgb(0,0,255);" onclick="brushClick(this)">Blue</div>
        <div class="brush" name="brush" data-active="False" id="purplebrush" style="background-color:rgb(255,0,255);" onclick="brushClick(this)">Purple</div>
        <div class="brush" name="brush" data-active="False" id="orangebrush" style="background-color:rgb(255,165,0);" onclick="brushClick(this)">Orange</div>
        <div class="brush" name="brush" data-active="False" id="brownbrush" style="background-color:rgb(165,42,42);" onclick="brushClick(this)">Brown</div>
        <div class="brush" name="brush" data-active="False" id="blackbrush" style="background-color:rgb(0,0,0);" onclick="brushClick(this)">Black</div>
        <div class="colorBox" name="colorBox" id=""><input name="redBox" id="redBox" type="text" size="3">Red  </div>
        <div class="colorBox" name="colorBox" id=""><input name="greenBox" id="greenBox" type="text" size="3">Green</div>
        <div class="colorBox" name="colorBox" id=""><input name="blueBox" id="blueBox" type="text" size="3">Blue </div>
      </div>
    </div>
    <div class="grid">
      {% for y in ys %}
        <div class="row">
          {% for x in xs %}
          <div class="cell" onclick="clickCell(this)" style="background-color:rgb(0,0,0);" data-x="{{ x }}" data-y="{{ y }}">{{ x }},{{ y }}</div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>
